@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Ubuntu&display=swap');

:root{
    --bleu-fonce:rgb(100,100,255);
    --bleu-clair:rgb(163,163,255);
    --blanc: rgb(255,255,255);
    --vert: rgb(89, 250, 89);
    --rouge: rgb(255, 106, 106);
}

body{
    margin: 0;
    padding: 0;

    font-family: 'Oswald', sans-serif;
}

header{
    padding: 20px;
    background-image: linear-gradient(to left, var(--bleu-fonce), var(--bleu-clair));

    display: grid;
    grid-template-columns: 300px 1fr 300px;
}

a{
    padding:10px;
    margin:10px;
    text-align: center;
    text-decoration: none;
    color: var(--blanc);
    border: solid 3px var(--blanc);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--blanc);
}

#zoneLogin{
    display: flex;
    align-items: center;
}
#zoneLogin > a{
    font-size: 30px;
}
#zoneDroite{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
#zonePanier{
    display: flex;
}

h1{
    color: var(--blanc);
    font-size: 3em;
    text-align:center;
}


a:hover{
    background-color: var(--blanc);
    color: var(--bleu-fonce);
    box-shadow: 0 0 20px var(--blanc);
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

#zoneCD{
    margin-top: 25px;

    display:flex;
    flex-wrap: wrap;
}

h2{
    color: var(--bleu-fonce);
    font-size: 1.5em;

    margin: 0;
    margin-top: 20px;
}

p{
    color: var(--bleu-fonce);
    font-size: 1em;
}

article{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding:30px;
    margin: 20px;
    border: solid 3px var(--bleu-clair);
    border-radius: 20px;
    transition: 0.2s;
    user-select: none;
}

article:hover{
    box-shadow: 0 0 20px var(--bleu-fonce) ;
    transform: scale(1.05);
}

article>h2, article>p{
    text-align:center;
    user-select: all;
}

.zoneAjoutPanier{
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 100%;
    box-shadow: 0 0 10px var(--bleu-fonce);
}

footer{
    text-align: center;
    padding: 2.5%;
    margin: 0;

    background-color: var(--bleu-fonce);
}

footer>p{
    color: var(--blanc);
    font-size: 1.5em;
}

.btnPanier{
    width: 60px;
    height: 45px;

    font-size: 30px;
    color: var(--blanc);
    background-color: var(--bleu-fonce);
    border-radius: 10px;

    border : none;
    cursor :pointer;

}

.btnAjouterPanier{
    color: var(--blanc);
    background-color: var(--vert);
    border-left:20px;
}

.btnRetirerPanier{
    color: var(--blanc);
    background-color: var(--rouge);
    border-right:20px;
}
