*{
    background-color:rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}
h1{
    text-align :center;
}
main{
    display:flex;
    align-items: center;
    justify-content:center;
}
#containerZoneCD{
    display:flex;
    margin:20px 15%;
    justify-content:center;
}
#zoneCD{
    display:flex;
    flex-wrap: wrap;
    border:4px solid black;
    border-radius: 30px;
}
article{
    display:flex;
    flex-direction: column;
    background-color:white;
    border-radius: 20px;
    width:min-content;
    padding:15px;
    margin:30px;
    justify-content: space-between;
    /* box-shadow: 10px 10px black; */
}
article>h2, article>p{
    text-align: center;
    background-color: inherit;
    padding: 10px;
}
article>p{
    justify-self: end;
}
article:hover{
    /* filter: brightness(35%); */
    cursor: pointer;
    
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);

    /* animation-duration: 500ms; */
}